{% extends 'base1.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  style="background-color:	lightgreen">
    <h2 style="color: black;" class="text-center">About us</h2>
    <center>
    <img  src="https://thumbs.dreamstime.com/b/shopping-paper-bag-different-groceries-light-blue-background-flat-lay-space-text-156220126.jpg" alt="cart"  style="height:200px; width: 300px;;"><br><br><Br>
        <h3>Online Grocery Store</h3><br>
        <h3> We are a small bunch of people who strive for positive impact on our customers.<br>
            We are giving our best services to all our valuable customers.</h3>
</center> 
</body>
</html>

{% endblock %}